*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
h1{
    font-size: 17px;
}
#tudo{
    text-align: center;
    margin-top: 200px;
    padding-top: 22px;
    background-color: rgba(255, 255, 255, 0.726);
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.5);
}
#inputs{
    padding-bottom: 22px;
}
